body {
    margin: 0;
    font-family: sans-serif;
}

#signupform{
    width: 500px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 1rem;
}

label {
    font-weight: bold;
}

input {
    padding: 0.7em;
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}